.article-list p {
  color: #7d8285;
}

.article-list .articles {
  padding-bottom: 40px;
}

.article-list .item {
  padding-top: 20px;
  min-height: 330px;
  text-align: center;
}

.article-list .item .description {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

