section#contact {
  background-color: #212529;
  background-repeat: no-repeat;
  background-position: 50%;
}

section#contact .section-heading {
  color: #fff;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.text-muted {
  color: #ffffff!important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h3, h3 {
  font-size: 1.75rem;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact .form-group input, section#contact .form-group textarea {
  padding: 20px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffeeb5;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(254,209,54,.25);
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact .form-group input, section#contact .form-group textarea {
  padding: 20px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffeeb5;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(254,209,54,.25);
}

.btn:hover {
  color: #00a9ff;
  text-decoration: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

