.col-lg-6.my-auto.order-lg-1.showcase-text {
}

.p-0 {
  padding: 0!important;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width:768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.p-0 {
  padding: 0!important;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width:768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.p-0 {
  padding: 0!important;
}

.p-0 {
  padding: 0!important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.h2, h2 {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.h2, h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

