.map-clean {
  color: #313437;
  background-color: #fff;
}

.map-clean iframe {
  background-color: #eee;
}

.map-clean {
  color: #313437;
  background-color: #fff;
}

.map-clean iframe {
  background-color: #eee;
}

