h1 {
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.border-pretty {
  border: 1px solid #ffffff;
}

.border-pretty:hover {
  border: 1px solid #000000;
}
/* 
.btn-link:hover {
  color: #070707;
  text-decoration: none;
} */

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

/* .btn-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none !important;
} */

*:before,
*:after {
  /*box-sizing: inherit;*/
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 100px 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.25);
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

section {
  padding: 100px 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.25);
}

.btn:hover {
  color: #00a9ff;
  text-decoration: none;
}

.btn {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.app {
  margin: 15px auto;
}

.app a {
  display: block;
}

.app a:hover {
  text-decoration: none;
}

.app img {
  display: block;
  margin: 0 auto;
}

.app span {
  display: block;
  padding-top: 5px;
  text-decoration: none;
  text-align: center;
}

.app a span {
  color: #757575;
}

.app a:hover span {
  color: #9e9e9e;
}

.app {
  margin: 15px auto;
}

.app a {
  display: block;
}

.app a:hover {
  text-decoration: none;
}

.app img {
  display: block;
  margin: 0 auto;
}

.app span {
  display: block;
  padding-top: 5px;
  text-decoration: none;
  text-align: center;
}

.app a span {
  color: #757575;
}

.app a:hover span {
  color: #9e9e9e;
}

.app {
  margin: 15px auto;
}

.app a {
  display: block;
}

.app a:hover {
  text-decoration: none;
}

.app img {
  display: block;
  margin: 0 auto;
}

.app span {
  display: block;
  padding-top: 5px;
  text-decoration: none;
  text-align: center;
}

.app a span {
  color: #757575;
}

.app a:hover span {
  color: #9e9e9e;
}

a {
  text-decoration: none;
}

section {
  padding: 100px 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran, Helvetica, Arial, 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #fcbd20;
}

section {
  padding: 100px 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran, Helvetica, Arial, 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #fcbd20;
}
