.intro1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-bottom: 0px;
  padding-top: 16px;
}
.intro2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-bottom: 30px;
}
#popupModal {
  .modal-body {
    .close {
      position: absolute;
      height: 32px;
      width: 32px;
      background: rgb(255, 255, 255);
      right: 8px;
      top: 8px;
    }
  }
}
.title-new {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 95px;
  line-height: 1.6;
}
