{{ define "main" }}
<section
  id="header"
  class="cta"
  style="
    background-image: url('{{ relURL .Params.intro.imgBackground }}');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 260px;
    padding-top: 220px;
  "
>
  <div class="cta-content">
    <div class="container text-right">
      <div class="row">
        <div class="col-lg-7 align-self-center">
          <h1
            class="text-uppercase text-left"
            data-aos="fade-down"
            data-aos-duration="500"
            id="title-header-ads"
            style="
              font-family: 'Open Sans', sans-serif;
              font-weight: bold;
              font-style: normal;
              font-size: 30px;
              color: rgb(255, 255, 255);
            "
          >
            {{.Params.intro.header}}
          </h1>
          <p
            class="text-justify"
            data-aos="fade-down"
            data-aos-duration="500"
            id="text-header-ads"
            style="
              font-family: 'Open Sans', sans-serif;
              font-weight: normal;
              font-style: normal;
              color: rgb(255, 255, 255);
              font-size: 18px;
              margin-bottom: 0px;
              padding-top: 20px;
              padding-bottom: 20px;
            "
          >
            {{.Params.intro.desc}}
          </p>
          <p
            class="text-capitalize text-left"
            data-aos="fade-down"
            data-aos-duration="500"
            id="text-header-ads"
            style="
              font-family: 'Open Sans', sans-serif;
              font-weight: normal;
              font-style: normal;
              color: rgb(255, 255, 255);
              font-size: 20px;
              margin-bottom: 0px;
              padding-top: 20px;
            "
          >
            <a
              class="btn btn-link text-uppercase border-pretty"
              role="button"
              href="https://agency.adsota.com/"
              style="
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-style: normal;
                font-size: 16px;
                padding-top: 10px;
                padding-right: 30px;
                padding-bottom: 10px;
                padding-left: 30px;
              "
              target="_blank"
            >
              {{i18n "more"}}&nbsp;
              <i class="icon ion-android-arrow-forward"></i>
            </a>
          </p>
        </div>
        <div
          class="col-lg-5 text-center text-sm-center text-md-center text-lg-center text-xl-center align-self-center"
          data-aos="fade-right"
          data-aos-duration="550"
        ></div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
<section id="service">
  <div class="container">
    <div class="col d-xl-flex justify-content-xl-center">
      <div class="intro">
        <h1
          class="text-capitalize text-center"
          style="
            color: #444444;
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            font-weight: bold;
            font-style: normal;
            padding-top: 0px;
            padding-bottom: 0px;
          "
        >
          {{.Params.services.header}}
        </h1>
        <hr class="hr-title" />
        <p
          class="text-center"
          style="
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            color: #444444;
            padding-bottom: 40px;
          "
        >
          {{.Params.services.desc}}
        </p>
      </div>
    </div>
    <div class="text-center">
      <div class="row is-flex">
        {{range .Params.services.items}}
        <div class="col-4 col-sm-3 col-md-2">
          <div class="app">
            <a href="#">
              <img src="{{relURL .image}}" width="60" height="60" />
              <span
                style="font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 16px;"
              >
                {{.title}}
              </span>
            </a>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>
<div class="features-boxed" style="background-color: rgb(255, 255, 255);">
  <div class="container">
    <div class="intro">
      <h1
        class="text-capitalize text-center"
        style="
          color: #444444;
          font-family: 'Open Sans', sans-serif;
          font-size: 30px;
          font-weight: bold;
          font-style: normal;
          padding-top: 0px;
          padding-bottom: 0px;
        "
      >
        {{.Params.inventories.header}}
      </h1>
      <hr class="hr-title" />
    </div>
    <div class="row justify-content-center features" style="padding-top: 20px; padding-bottom: 0px;">
      {{range .Params.inventories.items}}
      <div class="col-lg-4 item">
        <div class="box">
          <i
            class="{{printf "%s" .icon}} d-xl-flex justify-content-xl-start icon"
            style="color: rgb(0, 169, 255);"
          ></i>
          <h3
            class="text-center text-xl-left name"
            id="title-nl"
            style="font-family: 'Open Sans', sans-serif; font-weight: bold; font-style: normal; font-size: 20px;"
          >
            {{.title}}
          </h3>
          <p
            class="text-center text-xl-left description"
            style="
              color: #444444;
              font-family: 'Open Sans', sans-serif;
              font-size: 18px;
              font-weight: normal;
              font-style: normal;
            "
          >
            {{.desc}}
          </p>
        </div>
      </div>
      {{end}}
     
    </div>
  </div>
</div>

{{ end }}
